.container {
  padding: 25px;
  background-color: antiquewhite;
  display: flex;
  gap: 1rem;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column-reverse; */ */
  height: 400px;
  flex-wrap: wrap;
}

.child {
  border: 2px solid grey;
  background-color: aqua;
  padding: 20px;
  font-size: 20px;
  /* margin: 10px 0; */
}
